* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

#root, .App {
  height: 100%;
}

.App {
  display: grid;
  height: 100%;
  grid-template-rows: 160px [navigation] 40px [content] 1fr;
  position: relative;
}

.shadow-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
